.collection_list {
    margin-left: 40px;
    margin-top: 20px;
}
.co{ background: url(../images/collection_menu.png) no-repeat top left; }
.co-first-button{ background-position: 0 0; width: 421px; height: 52px; } 
.co-second-button{ background-position: 0 -102px; width: 421px; height: 52px; } 
.co-third-button{ background-position: 0 -204px; width: 421px; height: 52px; } 
.co-collection_menu_base{ background-position: 0 -306px; width: 421px; height: 52px; } 

#collection_menu{
	margin:auto;
}
